body {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #34e89e);
    background-size: 3000% 3000%;
    font-family: "Dosis", sans-serif;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100%;
    width: 100%;
}

#lab8 {
    margin-top: 50px;
    text-align: center;
    /*background-color: rgba(255, 255, 255, 0.75);*/
}


/*LANDING PAGE*/

#opening {
    color: white;
}

.login,
.postStatus,
.logout {
    color: white;
    background-color: #2e3131;
    font-size: 20px;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

.login:hover,
.postStatus:hover,
.logout:hover {
    background-color: #EE7752;
    color: #2e3131;
    border: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.navbar {
    background-color: #2e3131;
}

.navbar-header>.navbar-brand {
    color: white;
}

.profile {
    height: 100%;
    overflow: hidden;
}

.cover {
    margin-top: -100px;
    position: absolute;
    width: 97%;
}

.picture {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100px;
}

.data {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

#username {
    margin-top: 10px;
    margin-bottom: -20px;
}

#feedTitle {
    color: white;
}

.feeds {
    color: black;
    margin-top: 25px;
}

.feed {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 25px;
}

.controller {
    margin-top: 25px;
}

#postInput {
    height: 200px;
    width: 100%;
}

footer {
    padding-bottom: 100px;
}
