{% extends "lab_6/layout/base.html" %}

{% block content %}

    <select class="my-select" style="width: 200px;padding: 0px;margin-left: 10%;">
    </select>
    <button class="apply-button" id="apply">apply</button>


    <!-- ChatBox Section -->
    <section name="Chatbox">
       <div class="wrapper">
          <div class="chat-box">
             <div class="chat-head">
                <h2>Chat</h2>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16" id="arrow">
             </div>
             <div class="chat-body">
                <div class="msg-insert" id="tempat">
                </div>
                <div class="chat-text">
                   <textarea placeholder="Press Enter" id="teks" onkeypress="Submit(event)"></textarea>
                </div>
             </div>
          </div>
       </div>
    </section>

    <!-- Calculator Section -->
    <section class="calculator">
      <div class="container">
          <div class="model col-lg-5">
              <div class="container-fluid">
                  <div class="row" id="title">
                      <h1 class="text-center">
                          CALCULATOR
                      </h1>
                  </div>
                  <div class="row" id="calcs-section">
                      <div class="row">
                          <input id="print" type="text" readonly="readonly" class="form-control text-right calcs" id="usr">
                      </div>
                  </div>
                  <!-- Adapted from Tom Howard -->
                  <div class="row" id="calc-buttons">
                      <div class="row">
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('ac');">AC</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('log');">log</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('sin');">sin</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('tan');">tan</button>
                      </div>
                      <div class="row">
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(7);">7</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(8);">8</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(9);">9</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(' * ');">*</button>
                      </div>
                      <div class="row">
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(4);">4</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(5);">5</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(6);">6</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(' - ');">-</button>
                      </div>
                      <div class="row">
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(1);">1</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(2);">2</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(3);">3</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(' + ');">+</button>
                      </div>
                      <div class="row">
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(0);">0</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('.');">.</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go('eval');">=</button>
                          <button class="btn btn-lg btn-default col-xs-3" onClick="go(' / ');">/</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    
    <script type="text/javascript">
    var print = document.getElementById('print');
    var erase = false;

    var go = function(x) {
      if (x === 'ac') {
        print.value = "";
      }
      else if (x === 'eval') {
        print.value = Math.round(evil(print.value) * 10000) / 10000;
        erase = true;
      }
      else if (x === 'sin') {
        print.value = Math.sin(evil(print.value));
      }
      else if (x === 'log') {
        print.value = Math.log10(evil(print.value));
      }
      else if (x === 'tan') {
        print.value = Math.tan(evil(print.value));
      }
      else {
        print.value += x;
      }
    };

    function evil(fn) {
      return new Function('return ' + fn)();
    }
    </script>
    {% endblock %}
